{{#each this}}
<div class="country-card">
    <h1>{{name}}</h1>

    <p><span class="fatty">Capital:</span> {{capital}}</p>
    <p><span class="fatty">Population:</span> {{population}}</p>
    <p><span class="fatty">Languages:</span></p>
    <ul class="lang-list">
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>

    <img src={{flag}} alt="flag">
</div>
{{/each}}